.wrapper{
    width: 80%;
    margin: 80px auto;
}

.join-txt{
    margin-bottom: 20px;
    border-bottom: 2px solid black;
}

.id-alert-view{
    color: red;
}

.id-ok-view{
    color: green;
}

.id-alert{
    color: red;
    display: none;
}

.id-ok{
    color: green;
    display: none;
}

.pwd-alert-view{
    color: red;
}

.pwd-ok-view{
    color: green;
}

.pwd-alert{
    color: red;
    display: none;
}

.pwd-ok{
    color: green;
    display: none;
}

#phone1, #phone2{
    width: 40px;
}
